html    {

}

body    {
    margin: 0;
    font-family: 'work sans','Lato','Arial','sans-serif';
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

h1  {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 10vw;
    text-transform: uppercase;
    font-family: 'work sans','Lato','Arial','sans-serif';
    font-weight: 600;
}

h2  {
    text-align: right;
    padding-right: 3em;
    font-size: 2vw;
    font-family: 'work sans','Lato','Arial','sans-serif';
    font-weight: 600;
}

h3  {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: left;
    margin-left: 1em;
    font-size: 1.4vw;
    font-family: 'work sans','Lato','Arial','sans-serif';
}


.main_content   {
    margin-top: 10em;
    margin-left: 1em;
}

video   {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width:100%;
    z-index: -1;
}

.video_wrapper {
    height: 80vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.cta    {

    margin-left: 1em;
    margin-top: 1em;
}

form    {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-email  {
    border: none;
    border-bottom: 1px grey solid;
    width: 80%;
    margin-right: 2em;
    margin-left: 1.4em;
    color: black;
}

.form-submit  {
    font-family: 'work sans','Laro';
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: black;
    border-radius: 2px;
    color: white;
    padding: 10px 2em;
}