<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- Include Bootstrap CSS -->
        
        <title>Baebeegpt</title>

    </head>

    <body>

        <section>
            <div class="video_wrapper">
                <video autoplay muted loop id="background_vid">
                    <source src="/static/babycrawling.mp4" type="video/mp4">
                </video>
                    <h2>BabyGPT</h2>
                <div class="main_content">
                        <h3>New website coming soon</h3>
                        <h1>Stay tuned!</h1>
                </div>
            </div>
        </section>

        <div class="cta">
            <h3>Join the waitlist and be part of our inner circle</h3>
            <form action="{{url_for('index') }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.email(size=32, class_='form-email') }}
                    {{ form.submit(class_='form-submit') }}
             </form>
        </div>


    <!-- Modal -->
        <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="flashModalLabel">Notification</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- Include Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function() {
            {% if get_flashed_messages() %}
              $('#flashModal').modal('show');
            {% endif %}
          });
        </script>
    </body>