<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <title>Baebeegpt</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </head>

    <body>

        <section>
            <div class="video_wrapper">
                <video autoplay muted loop id="background_vid">
                    <source src="/static/babycrawling.mp4" type="video/mp4">
                </video>
                    <h2>BabyGPT</h2>
                <div class="main_content">
                        <h3>New website coming soon</h3>
                        <h1>Stay tuned!</h1>
                </div>
            </div>
        </section>

        <div class="cta">
            <h3>Join the waitlist and be part of our inner circle</h3>
            <form action="{{url_for('index') }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.email(size=32, class_='form-email') }}
                    {{ form.submit(class_='form-submit') }}
             </form>
        </div>

    </body>